<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="panel-title">{intl l='GoogleShoppingXml log' d='googleshoppingxml.bo.default'}</div>
    </div>

    <div class="panel-body gsxml_panel_table_log_container">

        <table id="js_table_xml_log" class="table">
            <tr>
                <td>{intl l="Loading ..." d='googleshoppingxml.bo.default'}</td>
            </tr>
        </table>
        <div class="text-center">
            <a href="{url path='/admin/module/GoogleShoppingXml?current_tab=log'}" class="btn btn-info gsxml_btn_more_log">{intl l="Details ..." d='googleshoppingxml.bo.default'}</a>
        </div>
    </div>
</div>
