<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="googleshoppingxml.category.associated" class="GoogleShoppingXml\Loop\AssociatedCategoryLoop" />
        <loop name="googleshoppingxml.feed" class="GoogleShoppingXml\Loop\FeedLoop" />
    </loops>

    <forms>
        <form name="googleshoppingxml.taxonomy" class="GoogleShoppingXml\Form\GoogleTaxonomyForm" />
        <form name="googleshoppingxml.feed.management" class="GoogleShoppingXml\Form\FeedManagementForm" />
    </forms>

    <hooks>
        <hook id="googleshoppingxml.module.config.hook" class="GoogleShoppingXml\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="main.head-css" type="back" />
            <tag name="hook.event_listener" event="home.bottom" type="back" templates="render:home-bottom.html" />
            <tag name="hook.event_listener" event="home.js" type="back" templates="render:home-js.html" />
        </hook>
    </hooks>

</config>
