<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>GoogleShoppingXml\GoogleShoppingXml</fullnamespace>
    <descriptive locale="en_US">
        <title>Allow to send one's catalogue to Google Shopping through XML files</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Permet d'intégrer son catalogue à Google Shopping via des fichiers XML</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.2</version>
    <authors>
        <author>
            <name>Théophile Pumain</name>
            <email>tpumain@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.0</thelia>
    <stability>other</stability>
</module>
