.feed_country_list_container{
    padding: 10px;
    margin-bottom: 0;
}

.feed_country_list_container .label{
    display: inline-block;
    margin: 2px;
}

.js_select_hidden_feed_add_country{
    display: none;
}